#search-bar {
    padding: 12px;
    width: 300px;
    margin-right: 3px;
    border: 1px solid black;
    border-radius: 10px;
}

#search-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.searchForm {
    margin-bottom: 15px;
}
